{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>
    <a href="{{ path('app_admin_image_new') }}">Créer</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SourceImage</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.sourceImage }}</td>
                <td>{{ image.titre }}</td>
                <td>
                    <a href="{{ path('app_admin_image_show', {'id': image.id}) }}">Résumé</a>
                    <a href="{{ path('app_admin_image_edit', {'id': image.id}) }}">Modifier</a>
                    {{ include('admin_image/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
