{% extends 'base.html.twig' %}

{% block title %}Allergene index{% endblock %}

{% block body %}
    <h1>Allergene index</h1>
    <a href="{{ path('app_admin_allergene_new') }}">Créer</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for allergene in allergenes %}
            <tr>
                <td>{{ allergene.id }}</td>
                <td>{{ allergene.nom }}</td>
                <td>
                    <a href="{{ path('app_admin_allergene_show', {'id': allergene.id}) }}">Résumé</a>
                    <a href="{{ path('app_admin_allergene_edit', {'id': allergene.id}) }}">Modifier</a>
                    {{ include('admin_allergene/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
