<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <nav>
                    <a href="{{ path('app_admin_formule_index') }}">Formules</a>
                    <a href="{{ path('app_admin_horaire_index') }}">Horaires</a>
                    <a href="{{ path('app_admin_image_index') }}">Images</a>
                    <a href="{{ path('app_admin_plat_index') }}">Images</a>
                    <a href="{{ path('app_admin_reservation_index') }}">Images</a>
                    <a href="{{ path('app_admin_table_index') }}">Images</a>
                </nav>
            {% endblock %}
            {% block footer %}
                <footer>
                    <p>copyright 2023.All Rights Reserved.</p>
                </footer>
            {% endblock %}
        {% endblock %}
    </body>
</html>
